<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{TITLE}</title>
        <meta name="description" content="{DESCRIPTION}">
        {SCRIPTS}
    </head>
    <body>
        <div class="container error-page">
            <div class="row">
                <div class="col-md-12">
                    <h1>View Banner 1</h1>
                </div>
            </div>
        </div>
    </body>
</html>