table.table {
	thead {
		tr {
			th {
				text-align: center;
			}
		}
	}
	tbody {
		tr {
			td {
				text-align: center;

				&.icon {
					button:first-child {
						margin-right: 10px;
					}
				}
			}
		}
	}
}

.panel-table {
	border-top: 0;
	border-radius: 0px 0px 4px 4px;
}