<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{TITLE}</title>
        <meta name="description" content="{DESCRIPTION}">
        {SCRIPTS}
    </head>
    <body>
        <div class="container error-page">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <h1>
                            Oops!</h1>
                        <h2>
                            404 Not Found</h2>
                        <div class="error-details">
                            A página <strong>{ERROR_MSG}</strong> não foi encontrada!
                        </div>
                        <div class="error-actions">
                            <a href="{PROJECT_DIR}" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-home"></span>
                                Início 
                            </a>
                            <a href="{PROJECT_DIR}Usuario/Entrar" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-user"></span> 
                                Entrar 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>