<div id="logout-page" class="modal fade bs-example-modal-sm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body error-page">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="text-center">
            <h1>Saindo...</h1>
            <h3>Aguarde que você será redirecionado!</h3>
            <p><img class="img-load show" src="{IMG_DIR}ajax-loader.gif"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button href="#" id="btn-logout" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->