<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Pesquisar...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{PROJECT_DIR}Admin"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Gerenciar Usuários<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{PROJECT_DIR}Admin/Usuario/Cadastrar">Cadastrar Usuário</a>
                    </li>
                    <li>
                        <a href="{PROJECT_DIR}Admin/Usuario/Editar">Editar Usuário</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Gerenciar Banners<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{PROJECT_DIR}Admin/Banners/Cadastrar">Cadastrar Banner</a>
                    </li>
                    <li>
                        <a href="{PROJECT_DIR}Admin/Banners/Editar">Editar Banner</a>
                    </li>
                    <li>
                        <a href="{PROJECT_DIR}Admin/Banners/Segmentos">Gerenciar Segmentos</a>
                    </li>
                    <li>
                        <a href="{PROJECT_DIR}Admin/Banners/Areas">Gerenciar Áreas</a>
                    </li>
                    <li>
                        <a href="{PROJECT_DIR}Admin/Banners/Produtos">Gerenciar Produtos</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="index.html"><i class="fa fa-table fa-fw"></i> Relatórios</a>
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->